.box{
    height: 150px;
    width: 150px;
}
.container-margin{
    margin-top: 100px;
}
.symbole-size{
    font-size: 80px;
}

.active{
    background: rgb(11, 214, 62) !important;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
  }